name: CI/CD for Docker Multi-Container App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build React test image
        run: |
          docker build -t complex/react-test -f ./client/Dockerfile.dev ./client

      - name: Run tests on React app
        run: |
          docker run -e CI=true complex/react-test npm test

  deploy:
    needs: build-test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build production Docker images
        run: |
          docker build -t complex/multi-client ./client
          docker build -t complex/multi-nginx ./nginx
          docker build -t complex/multi-server ./server
          docker build -t complex/multi-worker ./worker

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push images to DockerHub
        run: |
          docker push complex/multi-client
          docker push complex/multi-nginx
          docker push complex/multi-server
          docker push complex/multi-worker
