name: CI/CD Pipeline for Dockerized Multi-App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build test image
        run: |
          docker build -t rallycoding/react-test -f ./client/Dockerfile.dev ./client

      - name: Run tests
        run: |
          docker run -e CI=true rallycoding/react-test npm test

      - name: Build production Docker images
        run: |
          docker build -t rallycoding/multi-client ./client
          docker build -t rallycoding/multi-nginx ./nginx
          docker build -t rallycoding/multi-server ./server
          docker build -t rallycoding/multi-worker ./worker

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_ID }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker images to DockerHub
        run: |
          docker push rallycoding/multi-client
          docker push rallycoding/multi-nginx
          docker push rallycoding/multi-server
          docker push rallycoding/multi-worker

      - name: Install AWS CLI and EB CLI
        run: |
          pip install awsebcli

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ap-south-1

      - name: Deploy to Elastic Beanstalk
        run: |
          eb init docker-multi --platform docker --region ap-south-1
          eb use docker-multi-env
          eb deploy
